<div class="console-quickreply-type">
  <div [style.background-color]="primaryColor" class="bubble bot">
  	<span [style.border-right-color]="primaryColor" class="bubble-arrow"></span>
  	{{action.message}}
  </div>
  <div [ngClass]="{'is-over': isOver}" class="quickreply-buttons">
  	<button (mouseenter)="indexHoverButton=i" (mouseleave)="indexHoverButton=-1" [style.border-color]="primaryColor" [style.background-color]="(indexHoverButton==i || i == indexSelectedButton)? primaryColor: null" class="quickreply-button" [ngClass]="{'selected-button': i == indexSelectedButton}" (click)="sendReply(i, button)" *ngFor="let button of action.buttons; let i = index;">
  		{{button.title}}
  	</button>
  </div>
</div>
