<div style="margin-top:20px;" class="console-card-type">
  <!-- Left navigation card -->
  <div class="arrow-left" (click)="previousCard()">
    <i [style.background-color]="primaryColor" [style.color]="textColor" class="material-icons"
       [ngClass]="{'md-inactive' : isArrowLeftDisabled()}">
      keyboard_arrow_left
    </i>
  </div>

  <div class="cards-container">
    <swiper id="swiper-cards-console" (indexChange)="onSwiperIndexChange($event)" [config]="SWIPER_CONFIG" #swiperCards>
      <div *ngFor="let card of action.cards; let i = index;" class="swiper-slide card-console">
        <div *ngIf="card.imageURL != ''" class="image-preview-container">
          <img (click)="openCardUrl(card)" style="width:100%" src="{{card.imageURL}}">
        </div>
        <div style="padding-left:9px;padding-right:16px;">
          <h2 [ngStyle]="card.url != '' && {'cursor': 'pointer'}" (click)="openCardUrl(card)"
              class="card-title">{{card.title}}</h2>
          <h3 class="card-desc">{{card.subtitle}}</h3>
        </div>

        <div style="position:relative;text-align:center;" *ngFor="let button of card.buttons;let indexButton = index">
          <button (mouseenter)="indexHoverButton=indexButton" (mouseleave)="indexHoverButton=-1"
                  [style.border-color]="primaryColor" [disabled]="readOnly"
                  [style.background-color]="(indexHoverButton==indexButton || indexButton == indexSelectedButton)? primaryColor: null"
                  [style.color]="(indexHoverButton==indexButton || indexButton == indexSelectedButton)? textColor: null"
                  [ngClass]="{'selected-button': indexButton == indexSelectedButton}"
                  *ngIf="button.action.type =='go_to_action'" (click)="sendReply(indexButton, button)"
                  class="button-card">{{button.title}}</button>

          <button (mouseenter)="indexHoverButton=indexButton" (mouseleave)="indexHoverButton=-1"
                  [style.border-color]="primaryColor" [disabled]="readOnly"
                  [style.background-color]="(indexHoverButton==indexButton)? primaryColor: null"
                  [style.color]="(indexHoverButton==indexButton)? textColor: null"
                  *ngIf="button.action.type =='open_url_action'" (click)="openUrl(button)"
                  class="button-card">{{button.title}}</button>

          <button (mouseenter)="indexHoverButton=indexButton" (mouseleave)="indexHoverButton=-1"
                  [style.border-color]="primaryColor" [disabled]="readOnly"
                  [style.background-color]="(indexHoverButton==indexButton)? primaryColor: null"
                  [style.color]="(indexHoverButton==indexButton)? textColor: null"
                  *ngIf="button.action.type =='share_action'"
                  class="button-card clustaar-blue-button secondary disabled">{{button.title}}</button>
        </div>
      </div>
    </swiper>
  </div>

  <!-- Right navigation card -->
  <div class="arrow-right" (click)="nextCard()">
    <i [style.background-color]="primaryColor" [style.color]="textColor" class="material-icons"
       [ngClass]="{'md-inactive' : isArrowRightDisabled()}">
      keyboard_arrow_right
    </i>
  </div>
</div>
