.console-card-type {
  position: relative;

  .cards-container {
    padding-top: 16px;
  }

  .swiper-wrapper {
    display: flex;
    padding-bottom: 7px;
  }

  .arrow-left,
  .arrow-right {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    user-select: none;

    i {
      color: white;
      font-size: 32px;
      border-radius: 50%;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    }
  }

  .arrow-left {
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
  }

  .arrow-right {
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
  }

  .card-console {
    position: relative;
    border-radius: 4px;
    width: calc(100% - 72px) !important;
    margin-left: 36px;
    margin-right: 36px;
    height: auto !important;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.3);
    padding-bottom: 10px;

    .button-card {
      height: 32px;
      margin-top: 10px;
      margin-right:15px;
      font-size: 16px;
      min-width: 100px;
      max-width: calc(50% - 15px);
      cursor: pointer;
      border-radius: 100px;
      text-align: center;
      border :1px solid #004F80;
      color: #2C3F59;
      background: white;
      outline:none;
      &:hover {
        background: linear-gradient(137.19deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
        color: white;
        border: 1px solid transparent;
      }
      &.selected-button {
        background: linear-gradient(137.19deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
        color: white;
        font-weight: 500;
        border: 1px solid transparent;
      }
    }

    .image-preview-container {
      width: 100%;
      overflow: hidden;
    }


    .card-title {
      margin: 8px 0;
      color: #2C3F59;
      font-size: 14px;
      text-transform: none;
      font-weight: 500;
      line-height: 18px;
      opacity: 1;
    }

    .card-desc {
      margin: 8px 0;
      font-size: 12px;
      color: #8DABC4;
      font-family: Heebo;
      opacity: 1;
    }
  }
}
