<div class="switch-actions-component-console" *ngIf="action" [ngSwitch]="action.type">
  <div *ngSwitchCase="'send_text_action'">
    <text-console-action (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></text-console-action>
  </div>

  <div *ngSwitchCase="'text'">
    <user-message-console-action (onLoadNextAction)="loadNextAction()" [action]="action"></user-message-console-action>
  </div>

  <div *ngSwitchCase="'send_image_action'">
    <image-console-action (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></image-console-action>
  </div>

  <div *ngSwitchCase="'wait_action'">
    <wait-console-action (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></wait-console-action>
  </div>

  <div *ngSwitchCase="'send_quick_replies_action'">
    <quickreply-console-action (onSendReply)="sendReply($event)" (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></quickreply-console-action>
  </div>

  <div *ngSwitchCase="'send_cards_action'">
    <card-console-action (onSendReply)="sendReply($event)" (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></card-console-action>
  </div>

  <div *ngSwitchCase="'ask_location_action'">
    <location-console-action (onLoadNextAction)="loadNextAction()" [action]="action" [primaryColor]="primaryColor"></location-console-action>
  </div>

</div>
