Demo test:
<div style="max-width:500px;border:1px solid grey; border-radius: 6px;">
  <div *ngFor="let displayedAction of displayedActions; let i = index" id="chat-console-messages">
    <switch-console-actions [actions]="displayedActions" [action]="displayedAction" [index]="i"
                            [inverted]="false"
                            [showSelectedButton]="false"
                            [primaryColor]="primaryColor"
                            [textColor]="textColor"
                            [userTextColor]="userTextColor"
                            [userBubbleColor]="userBubbleColor"></switch-console-actions>
  </div>

</div>
